
<!-- **********************************Page Container****************************************** -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
     
        <div class="w3-container">
         

        	here
          </div>


        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    	<h1> working</h1>
		<% AllShark.all.each do |row| %>
			<%= p row['company'] %>
			<br>	
		<% end %> 
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>